.login-container {
  display:flex;
  flex-direction:row;
  background-color: rgb(209, 121, 226);
  width: 40%;
  height: 100vh;
}

.login-container h1 { 
  background-color: rgba(0, 0, 0, 0.26);
  margin-left: 2vw;
  padding:10px;
  margin-top: 20vh;
  font-size: 60px;
  width:35vw;
}

.login-text-container p {
  padding:10px;
  font-size: 20px;
  margin-top:50px;
  margin-left: 5vw;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.26);
}

.space img{
  margin-left: 35%;
  margin-top: 15%;
  width: 75vh;
  height: 75vh;
}

.login{
  display:flex;
}

.login button {
  background-color: rgba(0, 0, 0, 0.26);
  border: 2px solid black;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  width: 150px;
  margin-left: 8vw;
  margin-top: 2vw;
}

.login button:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(255, 255, 255, 1);
  color: white;
  padding: 15px;
  cursor: pointer;
  font-size: 20px;
  cursor: pointer;
}

.loginbox label {
  margin-left: 4vw;
  font-size: 20px;
  color: rgb(29, 0, 48);
}

.loginbox input {
  width:250px;
  height: 20px;
  margin-bottom: 10px;
  margin-left: 75px;
}



