  .matchingheader {
    background: rgb(209, 121, 226);
    font-size: 30px;
    width: 100%;
  }

  .matchingheader h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 60px; 
    display: flex;
    justify-content: left;
    align-items: left;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}
.matchingheader h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    height: 60px; 
    display: flex;
    justify-content: left;
    align-items: left;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.matchingheader h3 {
    margin-right:10px;
    display: flex;
    justify-content: right;
    align-items: right;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

  .matchingfooter {
    background: rgb(209, 121, 226);
    font-size: 30px;
    width: 100%;
    position:absolute;
    width:100%;
    bottom:0;
  }

  .matchingfooter button {
    margin:20px;
    background-color: rgba(0, 0, 0, 0.26);
    border: 2px solid black;
    color: white;
    padding: 15px;
    font-size: 20px;
  }

  .matching button {
    float:left;
    margin-left:100px;
    margin-top:65px;
    width:250px;
    height:200px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    color: rgb(0, 0, 0);
    font-size: 40px;
  }  
  
  .match-card{
    background-color: gray;
    width: 20rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
  }

  .match-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem;
    flex-wrap: wrap;
  }

  .matching-container{
    margin: auto;
  }
  