.matchingheader {
  background: rgb(209, 121, 226);
  font-size: 30px;
  /* width: 100%; */
}

.matchingheader h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  /* height: 60px;  */
  display: flex;
  justify-content: center;
  align-items: left;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  padding-top: 1.5rem;
    
}
.matchingheader h2 {
    margin-right: 1.5rem;
    display: flex;
    justify-content: right;
    align-items: right;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}
.matchingheader h3 {
    margin-right:1.5rem;
    display: flex;
    justify-content: right;
    align-items: right;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.matching-footer{
  flex: 1;
  box-sizing: border-box;
  background: rgb(142, 54, 160);
  font-size: 30px;
  width: 100%;
  padding: 1rem;
  text-align: right;
  display: flex;
  justify-content: right;
}

.matching-footer button{
  background-color: rgba(0, 0, 0, 0.26);

  color: white;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255, 0.1);
  transition: background-color 0.2s ease-in-out;
}

.matching-footer button:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(255, 255, 255, 1);
  color: white;
  padding: 15px;
  cursor: pointer;
  font-size: 20px;
  cursor: pointer;
}

  
.match-card{
  background-color: rgb(243, 238, 238);
  width: 15rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  margin: 2rem;
  transition: background-color 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}


.match-card:hover{
  cursor: pointer;
  scale: 1.05;
  border: 1px solid black;
  background-color: rgb(205, 202, 202);
}

.matched-card{
  background-color: rgb(109, 225, 51);
  width: 15rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  margin: 2rem;

  pointer-events: none;
  opacity: 0.5; /* Reduce opacity to visually indicate it's disabled */
  cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
}

.incorrect-card{
  background-color: red;
  width: 15rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  margin: 2rem;
}


.match-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;
  flex-wrap: wrap;
  background-color: #6a3775 ;
  border-radius: 2rem;
  
}

.matching-column{
  width: 100%;
  margin: auto;
}

.matching-container{
  display:flex;
  flex-direction: row;
}

.loading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #d41bb9;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
  