  .matchingheader {
    background: rgb(209, 121, 226);
    font-size: 30px;
    width: 100%;
  }

  .matchingheader h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 60px; 
    display: flex;
    justify-content: left;
    align-items: left;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}
.matchingheader h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    height: 60px; 
    display: flex;
    justify-content: left;
    align-items: left;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.matchingheader h3 {
    margin-right:10px;
    display: flex;
    justify-content: right;
    align-items: right;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

  .matchingfooter {
    background-color: rgb(209, 121, 226);
    font-size: 30px;
    overflow-x: hidden;
    /* position:absolute; */
    width:100%;
    position: fixed; /* Fix the footer position */
    bottom: 0; /* Place it at the bottom of the viewport */
   
  }

  .matchingfooter button {
    
    /* margin:20px; */
    background-color: rgba(0, 0, 0, 0.26);
    border: 2px solid black;
    color: white;
    padding: 1rem;
    font-size: 20px;
  }

  .matching button {
    float:left;
    margin-left:100px;
    margin-top:65px;
    width:250px;
    height:200px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    color: rgb(0, 0, 0);
    font-size: 40px;
  }  
  
  .match-card{
    background-color: gray;
    width: 15rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    margin: 2rem;
  }

  .matched-card{
    background-color: green;
    width: 15rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    margin: 2rem;

    pointer-events: none;
    opacity: 0.5; /* Reduce opacity to visually indicate it's disabled */
    cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
  }

  .incorrect-card{
    background-color: red;
    width: 15rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    margin: 2rem;
  }

  .match-card:hover{
    cursor: pointer;
    scale: 1.05;
  }

  .match-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
    flex-wrap: wrap;
  }

  .matching-container{
    margin: auto;
    height:100vh;
 
  }
  