.fitb-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.fitbheader {
  background: rgb(209, 121, 226);
  font-size: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.fitbheader h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: left;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex: 1;
  font-size:50px;
}

.fitbheader h3 {
  margin-right:10px;
  display: flex;
  justify-content: right;
  align-items: right;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.question-wrap {
  padding: 1rem;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;
  flex: 2;
}
.prompt {
  font-size: 2rem;
}
#successMessage {
  font-size: 2.5rem;
  font-weight: 800;
}
.fitbquestion {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
  padding: 20px;

  background: rgba(0, 0, 0, 0.26);
  border: 2px solid black;
}
.clockWrap {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-countdown-clock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  text-align: center;
}

.fitbanswer {
  margin-top: 100px;
}
.fitbanswer-button {
  float: left;
  margin: 75px;
  background-color: rgba(0, 0, 0, 0.26);
  border: 7px solid rgb(0, 0, 0, 0.7);
  border-radius: 10px;
  color: rgb(255, 255, 255, 0.4);
  padding: 30px 1rem 30px 1rem;
  font-size: 1.7rem;
  font-weight: 700;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out,
    letter-spacing 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.fitbanswer-button:hover {
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  border: 7px solid rgb(0, 0, 0, 0);
  letter-spacing: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255, 1);
}

.fitbfooter {
  flex: 1;
  box-sizing: border-box;
  background: rgb(142, 54, 160);
  font-size: 30px;
  width: 100%;
  padding: 1rem;
  text-align: right;
  display: flex;
  justify-content: right;
}
.fitb {
  display: flex;
  justify-content: right;
  align-items: center;
}

.fitb button {
  background-color: rgba(0, 0, 0, 0.26);

  color: white;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255, 0.1);
  transition: background-color 0.2s ease-in-out;
}

.fitb button:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(255, 255, 255, 1);
  color: white;
  padding: 15px;
  cursor: pointer;
  font-size: 20px;
  cursor: pointer;
}

.answer-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-wrap > input {
  height: 40px;
  line-height: 30px;
  font-size: 25px;
  color: rgb(142, 54, 160);
  border: 5px solid rgb(142, 54, 160);
  padding: 5px;
  border-radius: 10px;
}

/* Change the border color for all input elements */
.answer-wrap > input:focus {
  outline-color: rgb(142, 54, 160);
}

.correct {
  color: green;
  margin-top: -10vh;
}
.error {
  color: red;
  margin-top: -10vh;
}
.successSection {
  display: flex;
  justify-content: space-between;
}
.next-question,
.playAgain {
  font-size: 1.5rem;
  background: none;
  width: 49%;
  background: rgb(142, 54, 160, 0.4);
  color: rgb(255, 255, 255, 0.5);
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}
.playAgain {
  padding: 1rem 0 1rem 0;
}
.next-question {
}
.next-question:hover,
.playAgain:hover {
  background: rgb(142, 54, 160, 1);
  color: rgb(255, 255, 255, 1);
  cursor: pointer;
}
.next-question:hover {
}
.playAgain:hover {
}
