body{
    background-color: rgb(246, 220, 255);
}

.landing-container{
    display:flex;
    flex-direction:row;
    background-color: rgb(209, 121, 226);
    width: 40%;
    height: 100vh;
}

.text-container h1{
    background-color: rgba(0, 0, 0, 0.26);
    margin-left: 80px;
    padding:10px;
    margin-top: 325px;
    margin-bottom: 10px;
    font-size: 80px;
    width: 100%;
    white-space: nowrap;
}

.text-container p{
    font-size: 20px;
    margin-left: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.26);
}
.landing-buttons{
    margin-left: 245px;
    display:flex;
}
.landing-buttons button{
    background-color: rgba(0, 0, 0, 0.26);
    border: 2px solid black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
}

.image-container img{
    margin-left: 400px;
    margin-top: 100px;
    width: 750px;
    height: 750px;
    border: 2px solid black;
}

