body{
    background-color: rgb(246, 220, 255);
}

.landing-container{
    display:flex;
    flex-direction:row;
    background-color: rgb(209, 121, 226);
    width: 40%;
    height: 100vh;
}

.text-container h1{
    background-color: rgba(0, 0, 0, 0.26);
    margin-left: 2vw;
    padding:10px;
    margin-top: 20vh;
    margin-bottom: 10px;
    font-size: 60px;
    width:35vw;
}

.text-container p{
    padding:10px;
    font-size: 20px;
    margin-top:50px;
    margin-left: 5vw;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.26);
}
.landing-buttons{
    margin-left: 10vw;
    display:flex;
}
.landing-buttons button{
    background-color: rgba(0, 0, 0, 0.26);
    border: 2px solid black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    width: 100px;
    margin-left: 3vw;
    margin-top: 2vw;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.landing-buttons button:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(255, 255, 255, 1);
    color: white;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    cursor: pointer;
  }

.image-container img{
    margin-left: 35%;
    margin-top: 15%;
    width: 75vh;
    height: 75vh;
}

