.signup-container{
    display:flex;
    flex-direction:row;
    background-color: rgb(209, 121, 226);
    width: 40%;
    height: 100vh;
}

.left-bar h1 {  
    background-color: rgba(0, 0, 0, 0.26);
    margin-left: 2vw;
    padding:10px;
    margin-top: 20vh;
    margin-bottom: 10px;
    font-size: 60px;
    width:35vw;
}

.labelbox label {
    margin-left: 4vw;
    font-size: 20px;
    color: rgb(29, 0, 48);
}

.labelbox input {
    width:250px;
    height: 20px;
    margin-left: 75px;
}

.buttonsection{
    display:inline;
}

.buttonsection button{
    background-color: rgba(0, 0, 0, 0.26);
    border: 2px solid black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    width: 200px;
    margin-left: 4vw;
    margin-bottom: 1vw;
}

.buttonsection button:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(255, 255, 255, 1);
    color: white;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    cursor: pointer;
  }

.signup-image img{
    margin-left: 35%;
    margin-top: 15%;
    width: 75vh;
    height: 75vh;
}

.language {
    height:100px;
    margin-left: 75px;
}
.language select {
    width:220px;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.26);
    border: 2px solid black;
    color: white;
}

